PUID=1000
PGID=1000
TZ=Pacific/Honolulu
MEDIA_ROOT=/mnt/media
TORRENT_ROOT=/home/wyseadmin/homelab/state/torrents
QBITTORRENT_PORT=8080
PROWLARR_PORT=9696
SONARR_PORT=8989
RADARR_PORT=7878
LIDARR_PORT=8686
READARR_PORT=8787
WHISPARR_PORT=6969
BAZARR_PORT=6767
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
